:root {
    --conteiner-size: calc(calc(100vw - calc(69.99vw + 180px)) / 6);
}

.description {
    width: 100%;
    height: calc(100vh - 210px);
    position: relative;
    display: flex;
}

.description__contiener {
    background-color: var(--color-2);
    padding: 5px 30px 15px 30px;
    align-items: center;
    top: 2%;
    border-radius: 5px;
    width: 23.33vw;
    margin-left: var(--conteiner-size);
    margin-right: var(--conteiner-size);
    position: relative;
    height: calc(96% - 20px);
}

.description__contiener h1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: initial;
}

.description__contiener h1 span {
    font-family: Logo;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: initial;
}

.description__contiener p span {
    font-family: Logo;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: initial;
}

.description__contiener p {
    color: white;
    text-transform: initial;
    font-size: large;
    text-align: justify;
    text-indent: 1.25cm;
    text-justify: inter-ideograph;
}

.bt__add__bot {
    padding-left: 60px;
    padding-right: 10px;
    background-position: 25px 0px;
    box-sizing: border-box;
    /* color: rgb(255, 255, 255); */
    display: inline-block;
    height: 50px;
    line-height: 47px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    outline: rgb(255, 255, 255) none 0px;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 50px;
    border-color: var(--discord-color);
    font-size: large;
    background: var(--discord-color) url("https://assets-global.website-files.com/6257adef93867e50d84d30e2/62595384f934b806f37f4956_145dc557845548a36a82337912ca3ac5.svg") no-repeat scroll 5px 5px /40px 40px padding-box border-box;
}

.bt__add__bot span {
    display: inline;
    width: 100%;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: small;
    border: 0px none rgb(255, 255, 255);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.bt__conteiner {
    width: 100%;
    margin-top: 50px;
    text-align: center;
    vertical-align: middle;
}

lu {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='17' height='17'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M13 9.17A3 3 0 1 0 15 12V2.458c4.057 1.274 7 5.064 7 9.542 0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2c.337 0 .671.017 1 .05v7.12z' fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
}

li {
    color: white;
    margin-bottom: 40px;
}

li:last-child {
    margin-bottom: 0px;
}