:root {
  --discord-color: #5865f2;

  --color-4: #F5EFE6;
  --color-3: #E8DFCA;
  --color-2: rgb(13, 23, 33);
  --color-1: #1d2a35;

}

@font-face {
  font-family: "Logo";
  src: local("Logo"),
    url("./fonts/Birds of Paradise.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Body";
  src: local("Body"),
    url("./fonts/GeosansLight.ttf") format("truetype");
  font-weight: normal;
}

* {
  text-transform: uppercase;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  -webkit-transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -ms-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  transition: background-color 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}